{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/require-extension": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/prop-types": 0,
    "react/no-danger": 0,
    "import/prefer-default-export": 0,
    "no-console": 0,
    "semi": 0,
    "comma-dangle": 0,
    "prefer-template": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "classes": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "globals": {
    "Web3": true,
    "web3": true
  }
}
